<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupieTrackerSansGroupie</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen bg-gradient-to-br from-slate-900 via-purple-900 to-slate-900 text-white antialiased font-sans">
<header class="container mx-auto px-6 py-8">
    <div class="text-center mb-10">
        <h1 class="text-5xl md:text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-purple-400 mb-4">Welcome to the website Groupie tracker sans Groupie</h1>
    </div>
    <br>
    <br>
    <div id="nav" class="nav"></div>
        <nav>
            <ul class="flex justify-center space-x-10 justify-center">
                <button class="mt-6 px-6 py-3 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition duration-200 active:scale-95">
                    <href="/">Home</href>
                </button>
               <button class="mt-6 px-6 py-3 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition duration-200 active:scale-95">
                    <href="/artists">Artists</href>
                </button>
                <button class="mt-6 px-6 py-3 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition duration-200 active:scale-95">
                    <href="/live">Live</href>
                </button>
                <div class="search-bar">
                    <input type="search" id="site-search" name="q" />
                </div>
            </ul>
        </nav>
    </div>
</header>
</body>