<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupieTrackerSansGroupie</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<header>
    <div id="Title" class ="Title">
        <h1>Welcome to the website Groupie tracker sans Groupie</h1>
    </div>
    <div id="nav" class="nav"></div>
        <nav>
            <ul>
                <a href="/index.html">Home</a>
                <a href="/artists.html">Artists</a>
                <a href="/live.html">Live Concert</a>
            </ul>
            <input type="search" id="site-search" name="q" />
        </nav>
    </div>
</header>
<body>
    <div id="artistes-container" class="artistes-container">
        <div class="artist1">
            test
        </div>
        <div class="artist2">
            test
        </div>
        <div class="artist3">
            test
        </div>
    </div>
</body>