<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupieTrackerSansGroupie</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen bg-gradient-to-r from-blue-950 to-purple-950 text-white antialiased  ">
<header class="">
    <div id="title" class ="title">
        <h1 class="text-4xl font-bold">Welcome to the website Groupie tracker sans Groupie</h1>
    </div>
    <div id="nav" class="nav"></div>
        <nav>
            <ul class="flex justify-center space-x-10 justify-center">
                <button class="mt-6 px-6 py-3 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition duration-200 active:scale-95">
                    <href="/">Home</href>
                </button>
               <button class="mt-6 px-6 py-3 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition duration-200 active:scale-95">
                    <href="/artists">Artists</href>
                </button>
                <button class="mt-6 px-6 py-3 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition duration-200 active:scale-95">
                    <href="/live">Live</href>
                </button>
                <div class="search-bar">
                    <input type="search" id="site-search" name="q" />
                </div>
            </ul>
        </nav>
    </div>
</header>
    <div id="artistes-container" class="artistes-container">
        <div class="artist1">
            test
        </div>
        <div class="artist2">
            test
        </div>
        <div class="artist3">
            test
        </div>
    </div>
</body>