header {
    background-image: url('alone-tree-sunset-qe-1920x1080.jpg');
    color : white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 10px;
}

div.title {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    padding: 10px;
}

div.nav {
    display: flex;
    color : white;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: white;
    justify-content: center;
}



body {
    background-image: url('../../web/templates/alone-tree-sunset-qe-2880x1800.jpg');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

div.artistes-container {
    display: flex;
    justify-content: space-around;
    margin-top: center;
}