header {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 120, 255, 0.3);
}

div.title {
    font-size: 15px;
    color : white;
    font-family: 'Arial', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    padding: 10px;
}

div.nav {
    display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 80%;          
  margin: 0 auto;     
  
}

ul {
    display: flex;
    justify-content: center;
    gap: 20%; 
}

.btn {
    font-size: 15px;
    width: 80px;
    height: 30px;
    justify-content: center;
    background: rgba(0, 120, 255, 0.8);           
    color: white;              
    font-size: 16px;
    opacity: 0.9;
    cursor: pointer;
}


.btn:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}


body {
    background-image: url('../../static/img/background-img-index.jpg');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

div.artistes-container {
    display: flex;
    justify-content: space-around;
    margin-top: center;
}