<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupieTrackerSansGroupie</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<header>
    <h1>Welcome to the website Groupie tracker sans Groupie</h1>
    <nav>
        <ul>
            <a href="/index.html">Accueil</a>
            <a href="/artists.html">Artists</a>
            <a href="/live.html">Live Concert</a>
        </ul>
        <input type="search" id="site-search" name="q" />
    </nav>
</header>
<body>
    <h1></h1>
</body>
</html>